<nav class="fixed-top navbar navbar-expand navbar-dark bg-transparent mb-4">
  <div class="container">
    <a class="navbar-brand text-white">Cesar Hernandez</a>
    <div class="">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">My Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
